<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOGS" value="./logs" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss} %-5level %logger{500} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="RfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/app.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MM-yyyy HH:mm:ss} %p %C{500} - %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${LOGS}/archived/app-%d{dd-MM-yyyy}-%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="ErrorRfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/app.error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MM-yyyy HH:mm:ss} %p %C{500} - %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${LOGS}/archived/app-%d{dd-MM-yyyy}-%i.error.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="Console" />
	</root>

	<logger name="com.company.recap3" level="trace" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="RfAppender" />
		<appender-ref ref="ErrorRfAppender" />
	</logger>
</configuration>
